@font-face {
    font-family: 'ProximaNova-Reg';
    src: url('../../../dist/fonts/ProximaNova-Reg.otf') format('opentype');
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../../../dist/fonts/ProximaNova-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'ProximaNova-RegIt';
    src: url('../../../dist/fonts/ProximaNova-RegIt.otf') format('opentype');
}
@font-face {
    font-family: 'ProximaNova-BoldIt';
    src: url('../../../dist/fonts/ProximaNova-BoldIt.otf') format('opentype');
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../../../dist/fonts/ProximaNova-Light.otf') format('opentype');
}